.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box:hover{
  transition: transform .2s;
 background: #FCEC80;
  transform: scale(1.2);
}
.details{
  position: relative;
  overflow: hidden;
}
.details::before{
    content: "";
    height: 150%;
    width: 0px;
    background: rgba(255,255,255, .3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    transition: all 2.8s;
    
}

.details:hover::before{
  transform: translateX(230px) rotate(20deg);

}

.body{
  position: relative;
  overflow: hidden;
}

.body::before{
  content: "";
  height: 150%;
  width: 10px;
  background: rgba(255,255,255, .3);
  position: absolute;
  top: 0px;
  transform: translateX(-80px) rotate(20deg);
  transition: all 2.8s;
}

.body:hover::before{
  transform: translateX(230px) rotate(20deg);
}

.heading{
  color: '#1350d4';
}

.heading:hover{
  font-size: 0;
}

.heading:hover:after{
  content: attr(data-hover);
  font-size: 15px;
  color: #f76d87;
}